extends layout

block append scripts
    script(src='/javascripts/lib/require.js', data-main='javascripts/main.js')    

block content
    div.container-fluid.black
        div.row-fluid.full-h
            div.sidebar.span3
                div.row-fluid
                    a(href= "/")
                        h1 Cop
                    p This app will process the users you are following and list them in a cool chart.
                    p The users are sorted by their activity on app.net.
                    p Each score is based on the post count and the date of the last post of the user.
                    button.btn(href="/logout") Logout
            div.content.span9
                div#loader
                    p The users you are following are being processed. This may take a few seconds, please have a cup of tea.
                    div#squaresWaveG
                        div#squaresWaveG_1.squaresWaveG
                        div#squaresWaveG_2.squaresWaveG
                        div#squaresWaveG_3.squaresWaveG
                        div#squaresWaveG_4.squaresWaveG
                        div#squaresWaveG_5.squaresWaveG
                        div#squaresWaveG_6.squaresWaveG
                        div#squaresWaveG_7.squaresWaveG
                        div#squaresWaveG_8.squaresWaveG
                div.row-fluid
                    ul#user-list
