extends layout

block append scripts
    script(src='/javascripts/lib/require.js', data-main='javascripts/main.js')    

block content
    div.container-fluid.black
        div.sidebar.span3
            div.row-fluid
                a(href= "/")
                    h1 Cop
                p Copy.
                button.btn(href="/logout") Logout
        div.content.span9
            div.row-fluid
                ul#user-list
